@tailwind base;
@tailwind components;


@tailwind utilities;

@layer base {

    html,body{
        @apply bg-background-color m-0 p-0
    }
    @font-face {
        font-family: 'Amazing-slab';
        src: url(./fonts/Amazing-Slab-Black-trial.ttf);
    }
    @font-face {
        font-family: 'Vistol-sans';
        src: url(./fonts/VistolSans-Black.otf);
    }
    h1{
        @apply text-text-primary text-6xl font-amazingslab
    }
    h2{
        @apply text-3xl font-vistol 
    }
    h3{
        @apply text-lg font-vistol mt-14 opacity-60
    }
    p{
        @apply font-vistol
    }

    .form-control{
        @apply w-full px-2 py-2 mt-4 text-lg bg-transparent border border-black rounded-sm focus:outline-none focus:border-2 ;
    }

    .file_upload{
        @apply inline-block p-2 text-white bg-blue-500 border border-gray-200 rounded cursor-pointer  
    }
    input[type='file']{
        @apply hidden;
    }
    label{
        @apply  text-text-sec 
    }

    .pane{
    @apply  min-h-full text-center
    }
    .mini-img{
        @apply mx-auto h-24
    }

    .centerafterlg{
        @apply lg:container lg:mx-auto px-5
    }
    .hlts{
        @apply flex flex-col md:flex-row gap-y-10 h-auto py-20 mt-56 border-t border-b md:gap-x-10
    }

    .formlabel{
        @apply text-xl font-vistol tracking-widest
    }
    .form-group{
        @apply mt-5
    }
}